<aside class="sidebar">
  <div style="font-size: 1.4em">
    призовой фонд:<br>8500 ₽
  </div>

  <div>
    поддержать конкурс:<br>
    <a href="https://www.tinkoff.ru/sl/HhpJ4oVLWf" target="_blank">tinkoff</a> или <a href="https://yoomoney.ru/to/410014712660418" target="_blank">юmoney</a>
  </div>

  <div>
    <b><a href="{{ '/pages/rules' | url }}">регламент конкурса</a></b>
  </div>

  <div>
    <p style="margin-bottom: 0;">обсуждение конкурса:</p>
    <ul style="margin-top: 0;">
      <li><a href="https://discord.gg/FNFnJVCZA9" target="_blank">сервер в Discord</a></li>
      <li><a href="https://t.me/gdchat" target="_blank">чат в Telegram</a></li>
      <li><a href="https://2ch.hk/gd/res/754908.html" target="_blank">тред на 2ch.hk/gd/</a></li>
      <li><a href="https://gamedev.ru/projects/forum/?id=262342" target="_blank">тема на gamedev.ru</a></li>
    </ul>
  </div>

  <div>
    <a href="https://twoweeks.github.io/games-db/" target="_blank">игры прошлых конкурсов</a>
  </div>
</aside>
