<aside class="sidebar">
  <div style="font-size: 1.25em">
    призовой фонд:<br>5000 ₽
  </div>
  <div>
    поддержать конкурс:<br>
    <a href="https://www.tinkoff.ru/sl/HhpJ4oVLWf" target="_blank">tinkoff</a> или <a href="https://yoomoney.ru/to/410014712660418" target="_blank">yoomoney</a>
  </div>
  <div>
    <a href="{{ '/pages/rules' | url }}">регламент конкурса</a>
  <div>
  <div>
    <ul>
      <li><a href="https://twoweeks.github.io/games-db/" target="_blank">игры прошлых конкурсов</a></li>
      <li><a href="https://2ch.hk/gd/res/753261.html" target="_blank">тред конкурса на 2ch.hk</a></li>
      <li><a href="https://t.me/gdchat" target="_blank">telegram – @gdchat</a></li>
    </ul>
  </div>
</aside>
