---
title: Демоверсии
description: Полпути пройдено!
date: 2021-07-25
layout: layouts/post.njk
---
<p>Всего на конкурс было прислано {{ games_demo | arrayLength }} проекта. Их авторы проходят этап регистрации, и теперь должны будут сделать финальные версии своих игр.</p>

<p>Срок окончания приёма финальных версий - <strong>01 августа, 23:59 МСК</strong></p>

<p>Скачать все игры разом в одном архиве можно по <a href="https://1drv.ms/u/s!AsNfKXA75jDizWqKnjN_z8VjzZTi?e=cBjCSz" target="_blank">этой ссылке</a>.</p>

{% from "macro/games-list.njk" import gamesList %}

{{ gamesList(games_demo) }}
