<aside class="sidebar">
  <div style="font-size: 1.25em">
    призовой фонд:<br>5000 ₽
  </div>
  <div>
    поддержать конкурс:<br>
    <a href="https://www.tinkoff.ru/sl/HhpJ4oVLWf" target="_blank" rel="nofollow noopener">tinkoff</a> или <a href="https://yoomoney.ru/to/410014712660418" target="_blank" rel="nofollow noopener">yoomoney</a>
  </div>
  <div>
    <ul style="list-style: none; padding: 0;">
      <li><a href="https://twoweeks.github.io/games-db/" target="_blank" rel="nofollow noopener">игры прошлых конкурсов</a></li>
      <li><a href="https://2ch.hk/gd/res/753261.html" target="_blank" rel="nofollow noopener">тред конкурса на 2ch.hk</a></li>
      <li><a href="https://t.me/gdchat" target="_blank" rel="nofollow noopener">telegram – @gdchat</a></li>
    </ul>
  </div>
</aside>
